ppm_venv/
__pycache__/
*.pyc
*.aux
*.log
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
qdrant_data/
data/
.env
sources_and_relevant_content/
ppm_venv_linux/
.vscode/
deliverables/
tmp_paper.txt
tmp_paper_sciencedirect.html
thesis_template_gr_latex/
thesis/*
!thesis/final_thesis.pdf
